.profile-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}
.profile-left {
    width: 65%;
}
.profile-right {
    width: 35%;
    background-color: #fafafa;
    border-left: 1px solid  rgb(221, 220, 220);
}
.posts-list-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    align-items: center;
    padding: 10px;
}
.profile-card {
    min-width: 300px;
    border-radius: 5px;
    border: 1px solid rgb(221, 220, 220);
    width: 80%;
    max-width: 90%;
    display: flex;
    gap: 15px;
    position: relative;
    padding: 10px;
    background-color: #fafafa;
}

.profile-card-body {
    width: 100%;
}
.profile-name {
    font-size: 40px;
    margin: 5px;
    font-weight: 500;
}
.profile-my-posts {
    font-size: 18px;
    margin: 5px;
    font-weight: 600;
    border-bottom: 1px solid rgb(221, 220, 220) ;
}
.profile-card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
 width: 120px;
 height: 40px;
 cursor: pointer;
 display: flex;
 align-items: center;
 background: red;
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 background: #e62222;
}

button, button span {
 transition: 200ms;
 padding: 0;
}

button .text {
 color: white;
 font-weight: bold;
 transform: translateX(10px);
}

button .icon {
 position: absolute;
 border-left: 1px solid #c41b1b;
 transform: translateX(80px);
 height: 40px;
 width: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
}

button svg {
 width: 15px;
 fill: #eee;
}

button:hover {
 background: #ff3636;
}

button:hover .text {
 color: transparent;
}

button:hover .icon {
 width: 50px;
 border-left: none;
 transform: translateX(32px);
}

button:focus {
 outline: none;
}

button:active .icon svg {
 transform: scale(0.8);
}
.input-div {
    background-color: #ffffff;
    border: 1px solid rgb(221, 220, 220);
    padding: 20px;
    width: 80%;
}
.create-post-descrip {
    border-radius: 5px;
    border: none;
    min-height: 60px;
    min-width: 100%;
    max-height: 800px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 0 5px 1px rgb(221, 220, 220), inset 0 0 10px 1px rgba(221, 220, 220, 0.37);
    transition: box-shadow .2s ease-in-out;
}
.create-post-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-parent-div {
    width: 100%;
}
@media screen and (max-width: 900px) {
    .profile-container {
        flex-direction: column;
    }
    .profile-left {
        width: 100%;
    }
    .profile-right {
        width: 100%;
    }
    .posts-list-container {
        width: 100%;
    }
}